.inline {
  display: inline-block;
}

.panel {
  margin-top: 20px;
}

body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.whiteText {
  color: white;
}

.panel-info .panel-heading {
  background-color: lightgrey;
  color: black;
  text-align: center;
}

li {
  font-size: 24px;
}
